experiments/latest/llama2_7b_cnndailymail/lambda_0.3/pruner.pt filter=lfs diff=lfs merge=lfs -text
experiments/latest/llama2_7b_cnndailymail_lora_ddp/lambda_0.3/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
experiments/latest/llama2_7b_cnndailymail_lora_b5/dense_lora/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
experiments/latest/llama2_7b_cnndailymail_lora_b5/pruned_lora/lambda_0.3/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
experiments/latest/llama2_7b_samsum_lora_b5/eos/dense_lora/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
experiments/latest/llama2_7b_samsum_lora_b5/eos/pruned_lora_lambda_1.6/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
experiments/latest/llama2_7b_samsum_lora_b5/noeos/dense_lora/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
experiments/latest/llama2_7b_samsum_lora_b5/noeos/pruned_lora_lambda_1.6/adapter_model.safetensors filter=lfs diff=lfs merge=lfs -text
